* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("meme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 80%;
    max-width: 37.5em;
    padding: 3em 1.5em;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 1.4em 3em rgba(20, 16, 39, 0.3);
}